<div>
  <p class="fw-normal">
    We advise for engine replacement. Replacement engine can be taken from OEM
    plant and complaint engine to be sent back to Simpson as OE line rejection
    with proper packing and closing all the ports and openings. Ensure to send
    us the complaint Engine with OE fitted FIP.
  </p>
</div>
