<div
  class="container bg-light shadow d-flex border flex-column d-flex justify-content-around col-5 mt-5 rounded-3 py-2"
>
  <h3 class="fs-4 text-primary">
    ACTION CODE ENGINE REPLACEMENT BY OEM THROUGH SPD MODE
  </h3>
  <p class="fw-normal">
    Please replace the engine through SPD - debit system and send us back the
    complaint engine to our plant for factory attention with proper packing and
    closing all the ports and openings, within 30 days. Ensure to send all the
    defective parts. Once engine is received at our end, debit note can be
    raised. Please share us the replacement engine number for our reference.
  </p>
</div>
