<div
  class="container bg-light shadow d-flex border flex-column d-flex justify-content-around col-5 mt-5 rounded-3 py-2"
>
  <h3 class="fs-4 text-primary">
    ACTION CODE ENGINE REPLACEMENT BY OEM FROM OEM PLANT
  </h3>
  <p class="fw-normal">
    We advise for engine replacement. Replacement engine can be taken from OEM
    plant and complaint engine to be sent back to Simpson as OE line rejection
    with proper packing and closing all the ports and openings. Ensure to send
    us the complaint Engine with OE fitted FIP.
  </p>
</div>
