<div class="container bg-light shadow d-flex border justify-content-center d-flex col-3 mt-5 rounded-3 py-2">
      <div class="d-flex justify-content-around flex-column " >
    <h3 class="fs-3 text-primary">TICKET UPDATED</h3>
    
    <div>
        <h3 class="fs-5 d-flex fw-normal">Ticket Id : <span class="fs-6 px-2 pt-1 text-secondary">  <%=ticketUpdated.ticket_Id%></span></h3>
        <h3 class="fs-5 d-flex fw-normal">Updated On : <span class="fs-6 px-2 pt-1 text-secondary">  <%=ticketUpdated.updated_on%></span></h3>
        <h3 class="fs-5 d-flex fw-normal">Service Engineer : <span class="fs-6 px-2 pt-1 text-secondary">  <%=ticketUpdated.service_engineer%></span></h3>
        <h3 class="fs-5 d-flex fw-normal">Status : <span class="fs-6 px-2 pt-1 text-secondary">  <%=ticketUpdated.status%></span></h3>
      
</div>
    </div>
    
</div>
</div>
