<div>
  <div class="d-flex justify-content-around flex-column">
    <h3 class="fs-5">TICKET CREATED</h3>

    <div>
      <h3 class="fs-5 d-flex fw-normal">
        Ticket Id :
        <span class="fs-6 px-2 pt-1 text-secondary">
          <%=ticketCreated.ticket_Id%></span
        >
      </h3>
      <h3 class="fs-5 d-flex fw-normal">
        Created On :
        <span class="fs-6 px-2 pt-1 text-secondary">
          <%=ticketCreated.created_on%></span
        >
      </h3>
      <h3 class="fs-5 d-flex fw-normal">
        Service Engineer :
        <span class="fs-6 px-2 pt-1 text-secondary">
          <%=ticketCreated.service_engineer%></span
        >
      </h3>
      <h3 class="fs-5 d-flex fw-normal">
        Status :
        <span class="fs-6 px-2 pt-1 text-secondary">
          <%=ticketCreated.status%></span
        >
      </h3>
    </div>
  </div>
</div>
